{% extends "base.html" %}

{% block login_content %}

<div class="login-page">

    <div class="login-card">

        <div class="login-logo">
            ⚖
        </div>

        <h1>NAWI</h1>

        <p class="login-subtitle">
            OIML R-76 Test Report Generator
        </p>

        <form method="POST">

            <label>Username</label>

            <input type="text"
                   name="username"
                   placeholder="Enter username"
                   required>

            <label>Password</label>

            <input type="password"
                   name="password"
                   placeholder="Enter password"
                   required>

            <button type="submit"
                    class="primary-btn">
                Login
            </button>

        </form>

        <div class="demo-login">

            <strong>Demo Login</strong>

            <p>
                Username: admin
            </p>

            <p>
                Password: admin123
            </p>

        </div>

    </div>

</div>

{% endblock %}